<table>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.title, user_movie_path(@user, movie.id) %></td>
      <td>Vote Average: <%= movie.vote_average %></td>
    </tr>
  <% end %>
</table>
